<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- if site.fediverse_creator -%}
    <meta name="fediverse:creator" content="{{ site.fediverse_creator }}">
  {%- endif -%}

  {%- seo -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap"
    rel="stylesheet"
    media="print"
    onload="this.media='all'"
  >
  <noscript>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap"
    >
  </noscript>

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link
    rel="icon"
    href="{{ "/assets/favicon.ico" | relative_url }}"
    sizes="any"
  >
  <link
    rel="icon"
    href="{{ "/assets/favicon.svg" | relative_url }}"
    type="image/svg+xml"
  >
  <link
    rel="apple-touch-icon"
    href="{{ "/assets/apple-touch-icon.png" | relative_url }}"
  >
  {%- feed_meta -%}
</head>
