{%- for item in include.collection -%}
  <section>
    <h2 class="section-title">// {{ item.title }} //</h2>
    {%- if item.content_file -%}
      {%- capture file_content -%}{%- include {{ item.content_file }} -%}{%- endcapture -%}
      {{ file_content | markdownify }}
    {%- elsif item.content -%}
      {{ item.content }}
    {%- endif -%}
  </section>
  {%- if item.post_list -%}{%- include post_list.html -%}{%- endif -%}
  {%- if item.entries -%}
    {%- include menu.html collection = item.entries -%}
  {%- endif -%}
{%- endfor -%}
