.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: baseline;
    gap: var(--space-md);
    flex-wrap: wrap; // Mobile safety
  }

  .post-meta{
    margin-bottom: 0
  }
}

.post-meta {
  display: block;
  color: var(--meta-color);
  margin-bottom: var(--space-lg);
}

.site-footer {
  padding-top: var(--space-xl);
  font-size: var(--font-size-sm);
  color: var(--meta-color);

  .footer-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  p {
    margin: 0;
  }
}

.page-content {
  .post-meta {
    color: var(--meta-color);
    display: block;
    text-align: right;
  }
}
