.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: baseline;
    gap: var(--space-md);
    flex-wrap: wrap; // Mobile safety
  }

  .post-meta{
    margin-bottom: 0
  }
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--space-lg);
}

.post-meta {
  display: block;
  color: var(--meta-color);
  margin-bottom: var(--space-lg);

  .post-header & {
    margin-bottom: 0;
  }
}

.site-footer {
  padding-top: var(--space-xl);
  font-size: var(--font-size-sm);
  color: var(--meta-color);

  .footer-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  p {
    margin: 0;
  }
}
