.wrapper {
  max-width: 680px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.site-header {
  margin: 3rem 0;

  .site-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}

.section-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

section {
  margin-bottom: 2rem;
}
