<!doctype html>
<html lang="{{ page.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="{% if site.theme_config.monochrome_images != false %}m-img{% endif %}">
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- unless site.theme_config.footer == false -%}
      {%- include footer.html -%}
    {%- endunless -%}

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script
          type="text/javascript"
          src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"
        ></script>
      {% endfor %}
    {% endif %}

    {%- if site.goatcounter -%}
      <script
        data-goatcounter="https://{{ site.goatcounter }}.goatcounter.com/count"
        async
        src="//gc.zgo.at/count.js"
      ></script>
    {%- endif -%}
  </body>
</html>
