---
layout: default
---
<article>
  <div class="post-header">
    <a href="{{ '/' | relative_url }}">
      {{ site.theme_config.back | default: 'Back' | escape }}
    </a>
    <time
      class="post-meta dt-published"
      datetime="{{ page.date | date_to_xmlschema }}"
    >
      {% assign _date_fmt = site.theme_config.date_format
        | default: '%Y-%m-%d'
      %}
      {{ page.date | date: _date_fmt }}
    </time>
  </div>
  <h1>{{ page.title | escape }}</h1>

  {{ content }}
</article>
